
.logo-dashboard{
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    margin-top: 10px;
    }
    
    #dashboard-wrapper .particles-js-canvas-el{
        position: fixed;
    top: 0;
    bottom: 0;
    right: 20px;
    z-index: -1;
    }
    
    .dashboard-wrapper{
        background-image: url(../../assets/images/demo-bg.jpg);
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow:auto;
    }

    .particles-js-canvas-el{
        position: absolute;
        top: 0;
        z-index: 9;
    }
    
    .dashboard-wrapper .boxed-modal{
    width:80%;
    margin:100px auto 50px auto;
    background:#fff;
    padding:50px;
    }
    
    .dashboard-card-box .card-body{
    padding:0px;
    }
    
    .dashboard-card-box .card-single{
    margin-bottom:30px;
    }
    
    .btn-outline-primary{
    border-color:#4080bd;
    color:#4080bd;
    }
    
    .btn-outline-primary:hover{
    background:#4080bd;
    color:#fff;
    }
    .btn-primary{
    background:#4080bd;
    color:#fff;
    }
    
    .btn-primary:hover{
    background:#4080bd;
    color:#fff;
    }
    
    .display-card-mobile{
    display:none;
    }
    
    .change-module{
    padding:1.5rem 1rem;
    }
    
    .change-module h1{
    font-size: 32px;
    color: #1E2661;
    margin:0px;
    
    }
    
    .change-module .selection-dropdown{
    float:right;
    }
    
    .change-module .selection-dropdown select{
    font-size:15px;
    }
    
    .navbar-light .navbar-nav .nav-link{
    color:#1E2661 !important;
    }
    
    .two-side-wrapper{
    display:flex;
    background:#f8f9fa;
    }
    
    .two-side-wrapper .left-filter-panel{
    width: 330px;
    min-width:330px;
    max-width: 330px;
    padding: 20px;
    }
    
    .two-side-wrapper .right-detail-panel{
    width:100%;
    padding: 20px;
    }
    
    .card-panel-box{
    margin-bottom:20px;
    box-shadow: 0px 1px 5px #ddd;
    background: #FFF;
    }
    
    .card-panel-box .card-panel-box-heading {
    font-size: 17px;
    padding: 7px 15px;
    background: #187ebc;
    color: #fff;
    }
    
    .card-panel-box .card-panel-box-detail {
    padding: 20px;
    }
    
    .card-panel-box .card-panel-box-detail  .search-input{
    margin-bottom:10px;
    }
    
    .card-panel-box .card-panel-box-detail  .search-input input:focus{
    border:1px solid #187ebc;
    outline:none;
    box-shadow:none;
    }
    
    .card-panel-box .card-panel-box-detail .checkbox-group .form-check{
    margin-bottom:3px;
    }
    
    .heat-maps{
    padding:20px;
    display:flex;
    justify-content: space-between;
    }
    
    .heat-maps .card-panel-box{
    width:32%;
    }

@media (max-width:767px){
    .display-card-mobile {
        display:inline-block;
    }
    .hidden-card-mobile{
        display:none;
    }
    .dashboard-card-box .card-img-body{
        margin-bottom:15px;
    }
    .dashboard-wrapper .boxed-modal{
            padding: 30px;
    }
    .dashboard-card-box .card-body {
        margin-bottom: 20px;
    }
    .dashboard-card-box .card-single{
        border-bottom:1px dashed #ddd;
    }
}

@media (max-width:480px){
    .dashboard-wrapper .boxed-modal{
        width:95%;
    }
}
@media (max-width:375px){
    .dashboard-wrapper .boxed-modal{
        padding:20px;
    }
}