<div class="left-sidebar">
    <h2 class="filters">Filters <span width="20px" data-feather="filter"></span></h2>
    <div class="card mb-3">
      <div class="card-header">
        <h6>Dropdown
          <span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top"
            aria-label="Calculated according to last week's sales"
            data-bs-original-title="Calculated according to last week's sales"><svg
              class="svg-inline--fa fa-question-circle fa-w-16" data-fa-transform="shrink-1" aria-hidden="true"
              focusable="false" data-prefix="far" data-icon="question-circle" role="img"
              xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""
              style="transform-origin: 0.5em 0.5em;">
              <g transform="translate(256 256)">
                <g transform="translate(0, 0)  scale(0.9375, 0.9375)  rotate(0 0 0)">
                  <path fill="currentColor"
                    d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"
                    transform="translate(-256 -256)"></path>
                </g>
              </g>
            </svg></span>
        </h6>
      </div>
      <div class="card-body">
        <select name="" id="" class="form-control">
          <option value="" selected>Select</option>
          <option value="">Option 1</option>
        </select>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h6>File upload</h6>
      </div>
      <div class="card-body">
        <!-- <label for="formFile" class="form-label">Default file input example</label> -->
        <input class="form-control file-select-input" type="file" id="formFile">
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h6>Data list</h6>
      </div>
      <div class="card-body">
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
        <datalist id="datalistOptions">
          <option value="San Francisco">
          <option value="New York">
          <option value="Seattle">
          <option value="Los Angeles">
          <option value="Chicago">
        </datalist>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h6>Datapicker</h6>
      </div>
      <div class="card-body">
        <input type="date" class="form-control">
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h6>Radio buttons</h6>
      </div>
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
            checked>
          <label class="form-check-label" for="exampleRadios1">
            Value 1
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1">
          <label class="form-check-label" for="exampleRadios2">
            Value 2
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option1">
          <label class="form-check-label" for="exampleRadios3">
            Value 3
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option1">
          <label class="form-check-label" for="exampleRadios4">
            Value 4
          </label>
        </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <h6>Checkbox</h6>
      </div>
      <div class="card-body">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Default checkbox
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
          <label class="form-check-label" for="flexCheckDefault1">
            Default checkbox
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
          <label class="form-check-label" for="flexCheckDefault2">
            Default checkbox
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
          <label class="form-check-label" for="flexCheckDefault3">
            Default checkbox
          </label>
        </div>
      </div>
    </div>
  </div>