<app-header></app-header>

<main class="dashboard-main-wrapper">
    <app-filters></app-filters>

    <div class="right-content">
      <div class="breadcrumb">
        <div class="card">
          <div class="bg-holder"></div>
          <div class="card-body">
            <h3>Dashboard</h3>
            <ul>
              <li>Home > <a href="">Dashboard</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="card mb-3">
        <div class="card-header">
          <h6>Table</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Designation</th>
                  <th>Location</th>
                  <th width="100px" class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>John</td>
                  <td>john@gmail.com</td>
                  <td>CTO</td>
                  <td>Los Ang.</td>
                  <td class="text-center"><span width="20px" data-feather="share"></span></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>john@gmail.com</td>
                  <td>CTO</td>
                  <td>Los Ang.</td>
                  <td class="text-center"><span width="20px" data-feather="share"></span></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>john@gmail.com</td>
                  <td>CTO</td>
                  <td>Los Ang.</td>
                  <td class="text-center"><span width="20px" data-feather="share"></span></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>john@gmail.com</td>
                  <td>CTO</td>
                  <td>Los Ang.</td>
                  <td class="text-center"><span width="20px" data-feather="share"></span></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>john@gmail.com</td>
                  <td>CTO</td>
                  <td>Los Ang.</td>
                  <td class="text-center pointer"><span width="20px" data-feather="share"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-header">
          <h6>Chart</h6>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        </div>
      </div>
    </div>
  </main>
